body {
	background-color: #AC3650;
}
header {
	float: center
	text-align: right;
	font-size: 32px
	padding-top: 5%;
}
nav {
	padding-top: 20%
	text-align: center;
	font-size: 24px
}
}
.floated_img, .floated2_img {
	float: center;
	text-align: center;
	margin: 1%;
	font-size: 18px;
	margin:10px 10px 10px
}
h2 {
	text-align: center;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 15%
}
h3 {
	text-align: center;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}
footer {
 text-align: center; 
  padding: 1em 0;
  clear: both;
}